%div{ class: "border border-stone-200 bg-white p-5 my-5" }
  %h3{ class: "text-md font-semibold mb-3" } Pitch Counter
  - if @show.my_pitchers.none?
    %p{ class: "text-sm text-stone-600" } No pitchers marked on your roster.
  - else
    %div{ class: "space-y-3" }
      - @show.pitcher_rows.each do |row|
        = render partial: "games/pitch_counter_row", locals: { game: @game, row: row }