%div.max-w-4xl.mx-auto.px-6.py-8

  %div.flex.justify-between.items-center.mb-6
    %h1.text-2xl.font-semibold Games
    = link_to "New Game", new_game_path, class: "underline text-sm"

  %table.w-full.text-sm
    %thead
      %tr.border-b.border-stone-300
        %th.text-center.py-2 Date
        %th.text-center.py-2 Opponent
        %th.text-center.py-2 Team

    %tbody
      - @games.each do |game|
        %tr.border-b.border-stone-200
          %td.py-3.text-center= link_to game.date, game_path(game), class: 'underline'
          %td.py-3.text-center= game.opponent
          %td.py-3.text-center= game.team.name
